* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Fonts */
@font-face {
    font-family: MetLight;
    src: url(./fonts/Metropolis-Light.otf);
}
@font-face {
    font-family: MetSemiBold;
    src: url(./fonts/Metropolis-SemiBold.otf);
}
@font-face {
    font-family: MetBold;
    src: url(./fonts/Metropolis-Bold.otf);
}

h1 {
    font-family: MetBold;
    font-size: 64px;
}

h3 {
    font-family: MetSemiBold;
}

a {
    font-family: Metsemibold;
    text-decoration: none;
}


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-image: linear-gradient(rgba(38,5,223,1), rgba(223,5,111,1));
    
}

/* Header */



header {
    display: flex;
    height: 100vh;
    margin: 0 10%;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;    
}

/* PO-20 Hero Image  */
#hero1, #hero2 {
    position: fixed;
    height: 80vh;
    align-self: center;
    opacity: 1;
}    

#hero1 {
    z-index: 3;
}

/* Hero Animations */
#hero1 {
    animation-name: fade-in, fade-out, move-back;
    animation-duration: 0.5s, 1s, 1s;
    animation-delay: 0s, 2s, 2s;
    animation-fill-mode: forwards;
}

#hero2 {
    animation-name: fade-in, h2-fade-back;
    animation-duration: 0.5s, 2s;
    animation-delay: 0s, 2.3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes h2-fade-back {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.15;
    }
}

@keyframes move-back {
    from { z-index: 3;}
    to {z-index: -1;}
}

    /* Title */    

.title {
    border: 1px solid white;
    padding: 25px;
    z-index: 2;
    align-self: center;
    text-align: center;
    margin: 10px;
    opacity: 0;

    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.title1, .title2 {
    color: rgba(223,5,5,1);
    animation-name: rainbow;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes rainbow {
    0% {color: rgba(223,5,5,1);}

    10% {color: rgba(249,151,31,1);}

    25% {color: rgba(5,223,5,1);}

    35% {color: rgba(31,249,245,1);}
    
    50% {color: rgba(31,122,249,1);}

    75% {color: rgba(147,5,223,1);}

    90% {color: rgba(250,80,188,1);}
}

.author {
    margin: 100px 0 50px 0;
    z-index: 2;
}

/* Navigation */
.nav-list {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
    list-style: none;
}

.nav-item {
    padding: 10px;
    border: 1px solid whitesmoke;
    z-index: 2;
}

.nav-item:hover {
    background: violet;
    color: black;
}

.link-text {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

/* Main Content */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10%;
    z-index: 2;
}

.section-title {
    margin-top: 10%;
    text-align: center;
}

.section-des {
    margin: 40px 0;
    text-align: center;
}

.tips-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 5% 0;
    grid-gap: 15px;
}

.tips-item {
    width: 200px;
    padding: 10px;
    align-items: center;
    background: hsla(214, 75%, 85%, .1);
}

.tips-text {
    font-family: MetLight;
    font-size: 16px;
}

/* Videos */
.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.videos-section {
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    margin: 10% 0;
    flex-wrap: wrap;
    grid-gap: 15px;
}

.video {
    width: auto;
    height: 20vh;
}

/* Purchase Section */
.purchase {
    display: flex;
    width: 100%;
    margin: 10% 0;
    align-content: center;
    justify-content: space-evenly;
    border: 2px solid white;
    padding: 20px;
    z-index: 2;
}

.purchase-image {
    height: 30vh;
    margin: 20px;
    padding: 20px;
}

.purchase-info {
    text-align: start;
    align-self: center;
}

.buy-button {
    border: 2px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2vh 0;
    cursor: pointer;
}

.buy-button:hover {
    background: rgba(241,242,242,0.3);
}

footer {
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100%;
    margin-top: 5vh;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.footer-text {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 2vh 0;
}

@media only screen and (max-width:787px) {
    .video {
        width: 80%;
    }
}
